.containerGeneral {
	display: flex;
	flex-wrap: wrap;
}
.chart-container {
	position: relative;
	margin-top: 50px;
	width: 33%;
}
.chart-container:nth-child(1),
.chart-container:nth-child(2),
.chart-container:nth-child(3) {
	margin-top: 0px;
}
.title {
	text-align: center;
}
